@import "tailwindcss";

/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

.main_left {
  background-image: url("./assets/cycling.jpeg");
}

.main_right {
  background-image: url("./assets/swimming.jpeg");
}
.strike {
  position: relative;
  width: max-content;
}
.strike::after {
  content: "*";
  position: absolute;
  top: -1px;
  right: -8px;
  color: rgb(122, 10, 10);
}
